@import "global.css";

#data-preview {
    height: 50%;
}

#data-container { height: 85%; }

#data-preview ul {
    list-style: none;
    border: 1px solid #6c0000;
    color: #000;
    border-radius: 0 0 8px 8px;
    height:  100%;
    overflow: auto;
}

#data-preview li {
    padding: 0.1em;
    font-family: "Courier";
    font-size: 0.8em;
}

#clear, #toggle-preview { font-size: 1.2em; }

#clear {
    font-size: 1.2em;
    grid-area: clear;
}

#toggle-preview {
    grid-area: toggle;
    padding: 1em;
}
#controls {
    margin-bottom: -3em;
    display: grid;
    grid-template-areas: "clear"
                         "toggle";
    gap: 16px;
}